@import 'activeadmin_addons/all';
// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// $skinMainFirstColor: #A5A7AA!default;
// $skinMainSecondColor: #0066CC!default;
// $skinBorderWindowColor: #B8BABE!default;

@import "wigu/active_admin_theme";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }


h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}
#new_active_admin_comment{
  margin-left: 0px;
}

// .status_tag {
//   background: darken($secondary-color, 15%);
//   color: #fff;
//   text-transform: uppercase;
//   letter-spacing: 0.15em;
//   padding: 3px 5px 2px 5px;
//   font-size: 0.8em;

//   &.ok, &.published, &.complete, &.Accepted, &.completed, &.green { background: #8daa92; }
//   &.warn, &.warning, &.orange { background: #e29b20; }
//   &.error, &.errored, &.red, &.Denied { background: #d45f53; }
// }